In [3]:
import arcpy
import os
from os import path

In [4]:
filePath = path.abspath(os.getcwd())
db_file = "csvegisds1t.sde"
# db_file = "csvgisds24s.sde"
db_path = path.join(filePath, db_file)

In [5]:
if not path.exists(db_path):
    try:
        db_path = arcpy.CreateDatabaseConnection_management(filePath, db_file,
                                                           "SQL_SERVER", "csvegisds1t",
                                                           "OPERATING_SYSTEM_AUTH", database="GISDB")
        print("Connects to the database successfully!")
    except Exception as genErr:
        print("General Error: {}".format(genErr))
        raise Exception(genErr)

Connects to the first database successfully!

In [13]:
# db_file = "csvgisds24s.sde"
# Establish a connection to CSVEGISDS24S
if not path.exists(db_path):
    try:
        db_path = arcpy.CreateDatabaseConnection_management(filePath, db_file,
                                                           "SQL_SERVER", "csvgisds24s",
                                                           "OPERATING_SYSTEM_AUTH", database="EGISDB")
        print("Connects to the database successfully!")
    except Exception as genErr:
        print("General Error: {}".format(genErr))
        raise Exception(genErr)

Connects to the second database successfully!

In [22]:
import pandas as pd

In [26]:
data = {}
df = pd.DataFrame(data, columns=['Feature Dataset Name', 'Feature Class Name'])
arcpy.env.workspace = str(db_path)

In [27]:
counter = 0

In [28]:
featureDatasets = arcpy.ListDatasets()
for dataset in featureDatasets:
    featureClasses = arcpy.ListFeatureClasses(feature_dataset=dataset)
    for j in range(len(featureClasses)):
        if j == 0:
            df.loc[counter+j] = dataset, featureClasses[j]
        else:
            df.loc[counter+j] = "", featureClasses[j]
    counter = counter + len(featureClasses)
    # add the space at the end of each dataset
    df.loc[counter] = "", ""
    counter += 1

In [29]:
df

               Feature Dataset Name                   Feature Class Name
0          GISDB.GIS.Administrative  GISDB.GIS.Urban_Areas_NationalAtlas
1                                        GISDB.GIS.Block_Groups_Census2K
2                                         gisdb.GIS.ALDOT_Divisions_2011
3                                        GISDB.GIS.Cities_Census2K_UTM84
4                                                   GISDB.GIS.ALSenate03
..                              ...                                  ...
201           GISDB.ENVIRO.TestData                GISDB.ENVIRO.TestData
202
203  GISDB.SEREGION.InvasiveSpecies                 GISDB.SEREGION.Trees
204                                               GISDB.SEREGION.GRASSES
205

[206 rows x 2 columns]

In [30]:
arcpy.env.workspace = str(db_path)

In [31]:
featureClasses = arcpy.ListFeatureClasses()
for i in range(len(featureClasses)):
    if i == 0:
        df.loc[counter+i] = "Root", featureClasses[i]
    else:
        df.loc[counter+i] = "", featureClasses[i]
counter = counter + len(featureClasses)

In [32]:
df

         Feature Dataset Name                         Feature Class Name
0    GISDB.GIS.Administrative        GISDB.GIS.Urban_Areas_NationalAtlas
1                                        GISDB.GIS.Block_Groups_Census2K
2                                         gisdb.GIS.ALDOT_Divisions_2011
3                                        GISDB.GIS.Cities_Census2K_UTM84
4                                                   GISDB.GIS.ALSenate03
..                        ...                                        ...
503                                   GISDB.CPMS.GeoGISProjectsPointView
504                            GISDB.CPMS.STORM_WATER_PROJECTS_LINE_VIEW
505                                        GISDB.CPMS.VW_ATRIP_PROJ_LINE
506                                       GISDB.CPMS.VW_ATRIP_PROJ_POINT
507                                                 GISDB.EGIS.vwUSRoute

[508 rows x 2 columns]

In [33]:
outfile = path.join(filePath, "/database2.csv")
df.to_csv(outfile)

In [15]:
os.remove(str(db_path))