In [9]:
import pandas as pd

In [14]:
df = pd.read_csv("database.csv", index_col=0)

In [15]:
df

         Feature Dataset Name                         Feature Class Name
0    GISDB.GIS.Administrative        GISDB.GIS.Urban_Areas_NationalAtlas
1                         NaN            GISDB.GIS.Block_Groups_Census2K
2                         NaN             gisdb.GIS.ALDOT_Divisions_2011
3                         NaN            GISDB.GIS.Cities_Census2K_UTM84
4                         NaN                       GISDB.GIS.ALSenate03
..                        ...                                        ...
496                       NaN         GISDB.CPMS.GeoGISProjectsPointView
497                       NaN  GISDB.CPMS.STORM_WATER_PROJECTS_LINE_VIEW
498                       NaN              GISDB.CPMS.VW_ATRIP_PROJ_LINE
499                       NaN             GISDB.CPMS.VW_ATRIP_PROJ_POINT
500                       NaN                       GISDB.EGIS.vwUSRoute

[501 rows x 2 columns]